/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    margin: 0;
    color: white;
}

header {
    background-color: rgb(95, 16, 178);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contact-section {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.contact-section h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.contact-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #6d1da2;
    background: white;
    color: #333;
}

button {
    background-color: #8d3ce9;
    color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #6d1da2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    bottom: 0;
}
